
<h2> <%= t('students.registrations.edit.title') %> </h2>
<div class="container">
	<%= simple_form_for @student do |stu| %>
		<%= stu.input :first_name, label: t('label')  %>
		<%= stu.input :last_name, label: t('label')  %>
		<%= stu.input :last_m_name, label: t('label')  %>
		<%= stu.input :state, label: t('label'), collection: Student.states.keys, :selected => @student.state, disabled: true %>
		<%= stu.input :udg_code, label: t('label'), disabled: true %>
		<%= stu.button :submit, class: 'btn btn-success' %>
	<% end %>
</div>
