<h2>Lista de egresados registrados</h2>
<div class="container footer_margin">
	<%= render "admins_dashboard/partials/dashboard-nav" %>
	<% if @students.empty? %>
		<div class="alert alert-warning">
			<p class="bold center">No hay ningun egresado registrado</p>
		</div>

	<% else %>
		<table class="table">
			<thead>
				<tr scope="column">
					<th>Nombres(s)</th>
					<th>Apellido paterno</th>
					<th>Apellido materno</th>
					<th>Estado</th>
					<th>Codigo de alumno</th>
					<th>Correo electronico</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |st| %>
					<tr>
						<td scope="row"><%= st.first_name %></td>
						<td scope="row"><%= st.last_name %></td>
						<td scope="row"><%= st.last_m_name %></td>
						<td scope="row"><%= st.state %></td>
						<td scope="row"><%= st.udg_code %></td>
						<td scope="row"><%= st.user.email %></td>
						<td scope="row">
							<%= link_to "Descargar Curriculum en PDF", student_path(st, format: "pdf"), class: 'btn btn-info marg-bottom', target: :_blank%> 
							<%= link_to "Ver vacantes a las que ha aplicado", student_path(st), class: 'btn btn-info marg-bottom' %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	<%= link_to "Regresar", admin_dashboard_path, class: 'btn btn-info' %>
</div>

