<h2>Egresado: <%= @student.first_name %> <%= @student.last_name %> <%= @student.last_m_name %></h2>
<div class="container footer_margin">
	<%= render "admins_dashboard/partials/dashboard-nav" %>
	<h3> Vacantes a las que ha aplicado. </h3>
	<div class="form-group">
		<% @student.job_applications.each do |ja| %>
			<label class="dashboard-item-title"> Nombre de la vacante </label>
			<input type="text" class="form-control marg-bottom" placeholder="<%= ja.job.name %>" readonly disabled>

			<label class="dashboard-item-title">Empresa</label>
			<input type="text" class="form-control marg-bottom" placeholder="<%= ja.job.company.company_name %>" readonly disabled>

			<br>
		<% end %>
	</div>

	<%= link_to "Regresar", students_path, class: 'btn btn-info'  %>
</div>
