<h2><%= t('students.registrations.new.student') %></h2>

<%= form_for(resource, as: resource_name, url: students_sign_up_path) do |f| %>
	<div class="container">
		<%= devise_error_messages! %>
	</div>
	<%= render "errors/errors", object: @student %>

	<div class="container small-form">
		<div class="centered_form">
			<div class="form-group">
				<%= label_tag :first_name, t('students.name')%><br />
				<%= text_field_tag :first_name, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :last_name, t('students.last_name')%><br />
				<%= text_field_tag :last_name,"",  class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :last_m_name, t('students.last_m_name')  %><br />
				<%= text_field_tag :last_m_name,"",  class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :udg_code, t('students.udg_code') %><br />
				<%= text_field_tag :udg_code, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :born_date, t('students.born_date') %><br />
				<%= date_field_tag :born_date, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :genre, t('students.genre') %><br />
				<%= select_tag :genre, options_for_select(Student.genres.keys), class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :civil_status, t('students.civil_status') %><br />
				<%= select_tag :civil_status, options_for_select(Student.civil_statuses.keys), class: 'form-control' %>
			</div>

			

			<div class="form-group">
				<%= f.label :email %><br />
				<%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
			</div>


			<div class="form-group">
				<%= f.label :password %>
				<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> <%= t('students.password_length')%> )</em>
				<% end %><br />
				<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
			</div>

			<div class="actions">
				<%= f.submit t('students.registrations.new.sign_up'), class: 'btn btn-success' %>
				<%= link_to t('students.registrations.new.back'), root_path, class: 'btn btn-info' %>
			</div>
		</div>
	</div>
	<br >
<% end %>
