
<h2><%= t('companies.registrations.new.company') %></h2>

<%= form_for(resource, as: resource_name, url: companies_sign_up_path) do |f| %>
	<% if !devise_error_messages!.empty? %>
		<div class="container alert alert-warning">
			<%= devise_error_messages! %>
		</div>
	<% end %>
	<%= render "errors/errors", object: @company%>
	<div class="container small-form">
		<div class="centered_form">

			<div class="form-group">
				<%= label_tag :company_name, t('companies.company_name')%><br />
				<%= text_field_tag :company_name, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :contact_first_name, t('companies.person_f_name')%><br />
				<%= text_field_tag :contact_first_name, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :contact_last_name, t('companies.person_l_name')  %><br />
				<%= text_field_tag :contact_last_name, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :contact_last_m_name, t('companies.person_lm_name')  %><br />
				<%= text_field_tag :contact_last_m_name, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :contact_employement, t('companies.person_employment') %><br />
				<%= text_field_tag :contact_employement, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :website, t('companies.website') %><br />
				<%= text_field_tag :website, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :rfc, t('companies.rfc') %><br />
				<%= text_field_tag :rfc, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :foundation_date, t('companies.foundation_date') %><br />
				<%= date_field_tag :foundation_date, "", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= label_tag :category, t('companies.type') %><br />
				<%= select_tag :category,  options_for_select(Company.categories.keys), class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
			</div>


			<div class="form-group">
				<%= f.label :password %>
				<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %><%= t('companies.password_length') %>)</em>
				<% end %><br />
				<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
			</div>

			<div class="actions">
				<%= f.submit t("students.registrations.new.sign_up"), class: 'btn btn-success' %>
				<%= link_to t('students.registrations.new.back'), root_path, class: 'btn btn-info' %>
			</div>
		</div>
	</div>
	<br />
<% end %>
