<% if current_user.roleable_type == "Student" and user_signed_in? %>
	<h2>Bienvenido a tu perfil <%= @user.roleable.first_name %></h2>
	<div class="container">
		<%= render "students_dashboard/partials/dashboard-nav" %>
		<%= render "students_dashboard/partials/show_personal_data" %>
		<%= link_to "Descargar mi curriculum en PDF", student_path(@student.id, format: "pdf"), class: 'btn btn-info', target: :_blank %>
	</div>
<% else %>
	<%= render "errors/permission_denied" %>
<% end %>
