<h2>Verificación de datos</h2>
<div>
	<p>
	<strong>Nombres</strong><br />
	<%= @student.first_name %><br />
	<strong>Apellido paterno</strong><br />
	<%= @student.last_name %><br />
	<strong>Apellido materno</strong><br />
	<%= @student.last_m_name %><br />
	<strong>Código de alumno</strong><br />
	<%= @student.udg_code %><br />
	<strong>Estado de empleo</strong><br />
	<%= @student.state  %><br />
	<strong>Correo electrónico</strong><br />
	<%= @student.email %>
    </p>
	<%= link_to "Regresar", root_path, class: 'btn btn-primary' %>
</div>
