
<div class="list-group dashboard_data">
	<p class="center list-group-item">
	<strong>Nombres</strong><br />
	<%= @student.first_name %><br />
	</p>

	<p class="center list-group-item">
	<strong>Apellido paterno</strong><br />
	<%= @student.last_name %><br />
	</p>

	<p class="center list-group-item">
	<strong>Apellido materno</strong><br />
	<%= @student.last_m_name %><br />
	</p>

	<p class="center list-group-item">
	<strong>Código de alumno</strong><br />
	<%= @student.udg_code %><br />
	</p>

	<p class="center list-group-item">
	<strong>Estado de empleo</strong><br />
	<%= @student.state  %><br />
	</p>

</div>
