
<div class="list-group dashboard_data">
	<p class="center list-group-item">
	<strong><%= t('student_dashboard.first_name') %></strong><br />
	<%= @student.first_name %><br />
	</p>

	<p class="center list-group-item">
	<strong><%= t('student_dashboard.last_name') %></strong><br />
	<%= @student.last_name %><br />
	</p>

	<p class="center list-group-item">
	<strong><%= t('student_dashboard.last_m_name') %></strong><br />
	<%= @student.last_m_name %><br />
	</p>

	<p class="center list-group-item">
	<strong><%= t('student_dashboard.udg_code') %></strong><br />
	<%= @student.udg_code %><br />
	</p>

	<p class="center list-group-item">
	<strong><%= t('student_dashboard.state') %></strong><br />
	<%= @student.state  %><br />
	</p>

</div>
