<%= image_tag "logo900p.png", class: 'logo_image'%>

<br>

<div class="container">
	<div>
		<p class="left bold description">
		<%= t('description.project') %>
		</p>
	</div>
	<div class="col-md-5 col-xs-5">
		<div class="panel panel-default ">

			<div class="panel-heading">
				<h3><%= t('benefits.students')%></h3>
			</div>

			<div class="panel-body">
				<p class="center"><%= t('benefits.registered_students.main_text') %></p>
				<ul>
					<li class="left">
					<%= t('benefits.registered_students.reason_1') %>
					</li>
					<li class="left">
					<%= t('benefits.registered_students.reason_2') %>
					</li>
					<li class="left">
					<%= t('benefits.registered_students.reason_3') %>
					</li>
				</ul>
			</div>

			<% if !user_signed_in? %>

				<div class="panel-footer center ">
					<p class="bold"><%= t('sign_up') %></p>
					<%= link_to t('navbar.new.student'), students_sign_up_path, class: 'btn btn-success button-sep'%>
				</div>
			<% end %>

		</div>
	</div>
	<div class="col-md-5 col-md-offset-2 col-xs-5">
		<div class="panel panel-default ">

			<div class="panel-heading">
				<h3><%= t('benefits.companies')%></h3>
			</div>

			<div class="panel-body ">
				<p class="center"><%= t('benefits.registered_companies.main_text') %></p>
				<ul>
					<li class="left"><%= t('benefits.registered_companies.reason_1') %></li>
					<li class="left"><%= t('benefits.registered_companies.reason_2') %></li>
					<li class="left"><%= t('benefits.registered_companies.reason_3') %></li>
				</ul>
			</div>

			<% if !user_signed_in? %>
				<div class="panel-footer center ">
					<p class="bold"><%= t('sign_up') %></p>
					<%= link_to  t('navbar.new.company'), companies_sign_up_path, class: 'btn btn-success button-sep'%>
				</div>
			<% end %>
		</div>
	</div>
</div>
