<form class="dashboard-data">
	<div class="form-group">
		<label class="dashboard-item-title"> Nombre(s) </label>
		<input type="text" class="form-control" placeholder="<%= @student.first_name %>" readonly disabled>


		<label class="dashboard-item-title">Apellido paterno</label>
		<input type="text" class="form-control" placeholder="<%= @student.last_name%>" readonly disabled>

		<label class="dashboard-item-title">Apellido materno </label>
		<input type="text" class="form-control" placeholder="<%= @student.last_m_name%>" readonly disabled>

		<label class="dashboard-item-title"> C칩digo UDG </label>
		<input type="text" class="form-control" placeholder="<%= @student.udg_code%>" readonly disabled>

		<label class="dashboard-item-title"> CURP </label>
		<input type="text" class="form-control" placeholder="<%= @student.curp%>" readonly disabled>

		<label class="dashboard-item-title"> Disposici칩n para viajar </label>
		<input type="text" class="form-control" placeholder="<%= @student.travel_available? ? 'Si' : 'No' %>" readonly disabled>

		<label class="dashboard-item-title"> Disposici칩n para cambio de residencia </label>
		<input type="text" class="form-control" placeholder="<%= @student.relocate_available? ? 'Si' : 'No' %>" readonly disabled>

		<label class="dashboard-item-title"> Programas q se manejen (ofim치tica) </label>
		<input type="text" class="form-control" placeholder="<%= @student.office_software%>" readonly disabled>

		<label class="dashboard-item-title"> Estado de empleo </label>
		<input type="text" class="form-control" placeholder="<%= @student.state%>" readonly disabled>
	</div>
</form>
