<form class="dashboard-data">
	<div class="form-group">
		<label class="dashboard-item-title"> Nombre(s) </label>
		<input type="text" class="form-control" placeholder="<%= @student.first_name %>" readonly disabled>


		<label class="dashboard-item-title">Apellido paterno</label>
		<input type="text" class="form-control" placeholder="<%= @student.last_name%>" readonly disabled>

		<label class="dashboard-item-title">Apellido materno </label>
		<input type="text" class="form-control" placeholder="<%= @student.last_m_name%>" readonly disabled>

		<label class="dashboard-item-title"> Código UDG </label>
		<input type="text" class="form-control" placeholder="<%= @student.udg_code%>" readonly disabled>

		<label class="dashboard-item-title"> Estado de empleo </label>
		<input type="text" class="form-control" placeholder="<%= @student.state%>" readonly disabled>
	</div>
</form>
