<h2>Lista de premios o distinciones</h2>
<div class="container">
	<%= render "students_dashboard/partials/dashboard-nav" %>
	<% if @awards.empty? %>
		<div class="alert alert-warning">
			<p>No has agregado ningun premio o curso a tu experiencia academica</p>
			<p><%= link_to "¿Desea agregar una entrada?", new_academic_award_path, class: 'btn btn-success' %></p>
		</div>
	<% else %>
		<table class="table">
			<thead>
				<tr scope="col">
					<th>Nombre del premio o curso</th>
					<th>Descripcion</th>
					<th>Organizacion que lo expide</th>
					<th>Fecha de entrega</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% @awards.each do |aw| %>
						<td scope="row"><%= aw.name %></td>
						<td scope="row"><%= aw.description %></td>
						<td scope="row"><%= aw.issuing_organism %></td>
						<td scope="row"><%= aw.award_date %></td>
						<td scope="row">
							<%= link_to "Editar", edit_academic_award_path(aw), class: 'btn btn-info' %>
							<%= link_to "Borrar", academic_award_path(aw), method: :delete, class: 'btn btn-danger', data: { confirm: '¿En verdad quiere borrar la entrada?' } %>  
						</td>
					<% end %>
				</tr>
			</tbody>
		</table>
		<%= link_to "Agregar premio", new_academic_award_path, class: 'btn btn-success' %>
	<% end %>
	<%= link_to "Regresar", academic_awards_path, class: 'btn btn-info' %>
</div>

