<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>
	<div class="field">
		<%= f.label :company_name, :label => "Nombre de la compañía" %><br />
		<%= f.text_field :company_name, autofocus: true %>
	</div>

	<div class="field">
		<%= f.label :contact_first_name, :label => "Nombre(s) de la persona que registra la compañía" %><br />
		<%= f.text_field :contact_first_name %>
	</div>

	<div class="field">
		<%= f.label :contact_last_name, :label => "Apellido paterno de la persona que registra la compañía" %><br />
		<%= f.text_field :contact_last_name %>
	</div>

	<div class="field">
		<%= f.label :contact_last_n_name, :label => "Apellido materno de la persona que registra la compañía" %><br />
		<%= f.text_field :contact_last_n_name %>
	</div>


	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	</div>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>

	<div class="field">
		<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
		<%= f.password_field :password, autocomplete: "off" %>
		<% if @minimum_password_length %>
			<br />
			<em><%= @minimum_password_length %> characters minimum</em>
		<% end %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, autocomplete: "off" %>
	</div>

	<div class="field">
		<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password, autocomplete: "off" %>
	</div>

	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>

<h3>Cancel my account</h3>

<p>¿Desea eliminar su cuenta? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro de que quiere eliminar su cuenta?" }, method: :delete %></p>

<%= link_to "Regresar", :back %>
