<form class="dashboard-data">
	<div class="form-group">
		<label class="dashboard-item-title"> Nombre de la empresa </label>
		<input type="text" class="form-control" placeholder="<%= @company.company_name %>" readonly disabled>
	
		<label class="dashboard-item-title">Nombre de la persona que registra la empresa</label>
		<input type="text" class="form-control" placeholder="<%= @company.contact_first_name%>" readonly disabled>

		<label class="dashboard-item-title">Apellido paterno de la persona que registra la empresa</label>
		<input type="text" class="form-control" placeholder="<%= @company.contact_last_name %>" readonly disabled>

		<label class="dashboard-item-title"> Apellido materno de la persona que registra la empresa</label>
		<input type="text" class="form-control" placeholder="<%= @company.contact_last_m_name%>" readonly disabled>

		<label class="dashboard-item-title">Puesto de la persona que registra la empresa</label>
		<input type="text" class="form-control" placeholder="<%= @company.contact_employement %>" readonly disabled>
	</div>
</form>
