<div class="list-group dashboard_data">

	<p class="center list-group-item">
	<strong><%= t('companies_dashboard.index.company_name') %> </strong><br >
	<%= @company.company_name %>
	</p>

	<p class="center list-group-item">
	<strong><%= t('companies_dashboard.index.contact_first_name') %> </strong><br >
	<%= @company.contact_first_name%>
	</p>

	<p class="center list-group-item">
	<strong><%= t('companies_dashboard.index.contact_last_name') %> </strong><br >
	<%= @company.contact_last_name %>
	</p>

	<p class="center list-group-item">
	<strong><%= t('companies_dashboard.index.contact_last_m_name') %> </strong><br >
	<%= @company.contact_last_m_name%>
	</p>
	
	<p class="center list-group-item">
	<strong><%= t('companies_dashboard.index.employement') %> </strong><br >
	<%= @company.contact_employement %>
	</p>
	
</div>
