<h2>Domicilio</h2>
<div class="container footer_margin">

	<% if current_user.roleable_type == "Student" %>
		<%= render "students_dashboard/partials/dashboard-nav" %>
		<% if current_user.address.nil? %>
			<div class="alert alert-info">
				<p>Por favor ingresar la dirección en la que se le pueda localizar más fácilmente.</p>
			</div>
		<% end %>
	<% else %>
		<%= render "companies_dashboard/partials/dashboard-nav" %>
	<% end %>
	<% if current_user.address.nil? %>
		<%= render "errors/errors", object: @address %>
		<%= render "addresses/partials/form" %>
	<% else %>
		<div class="alert alert-warning">
			<p class="center"><%= t('addresses.index.warnings.can_not_add_more_addresses') %></p>
			<p class="center">
			<%= link_to t('addresses.index.actions.edit'), addresses_path, class: 'btn btn-success' %>
			<% if current_user.roleable_type == "Student" %>
				<%= link_to t('addresses.go_back'), :back, class: 'btn btn-info' %>
			<% else %>
				<%= link_to t('addresses.go_back'), :back, class: 'btn btn-info' %>
				</p>
			<% end %>
		</div>

	<% end %>
</div>
