<div class="nav-dashboard smooth_corners_nav">
	<ul class="nav nav-tabs">
		<li id="home"><%= link_to "Mis datos", admin_dashboard_path%></li>
		<li id="personal-data"><%= link_to "Editar datos", edit_admin_path(current_user.roleable.id) %></li>
		<li id="email-password"><%= link_to "Email y contraseña", edit_user_registration_path(current_user.id)  %></li>
		<li id="show-users"><%= link_to "Alumnos",  students_path %></li>
		<li id="show-comapniess"><%= link_to "Empresas", companies_path %></li>
		<li class="create-job-type"><%= link_to "Areas de empleo", job_types_path%></li>
		<li class="create-admin"><%= link_to "Registrar nuevo administrador", admins_sign_up_path %></li>
		<li class="show-interviews"><%= link_to "Listado de entrevistas", interviews_path  %></li>
	</ul>
</div>
