<%= simple_form_for @job do |jb| %>
	<%= jb.input :name , label: t('companies.jobs.name') %>
	<%= jb.input :workday_type, collection: Job.workday_types.keys, include_blank: false, label: t('companies.jobs.workday_type') %>

	<%= jb.input :contract_type , label: t('companies.jobs.contract_type') %>
	<%= jb.input :workday_schedule_start , label: t('companies.jobs.workday_schedule_start') %>
	<%= jb.input :workday_schedule_end,  label: t('companies.jobs.workday_schedule_end') %>
	<%= jb.input :salary , label: t('companies.jobs.salary') %>
	<%= jb.input :age_requierement , label: t('companies.jobs.age_requirement') %>
	<%= jb.input :gender, collection: Job.genders.keys, include_blank: false, label: t('companies.jobs.gender') %>
	<%= jb.input :schooling_level , label: t('companies.jobs.schooling_level') %>
	<%= jb.input :work_experience , label: t('companies.jobs.work_experience') %>
	<%= jb.input :specialized_knowledge , label: t('companies.jobs.specialized_knowledge') %>
	<%= jb.input :aptitudes , label: t('companies.jobs.aptitudes') %>
	<%= jb.input :job_duration , label: t('companies.jobs.job_duration') %>

	<div>
		<p>
		<%= jb.label "Categoria de la vacante" %>
		</p>
		<%= jb.collection_check_boxes :job_type_ids, JobType.all, :id, :area do |cb| %>
			<div class="collection-check-box">
				<%= cb.check_box %>
				<%= cb.label %>
			</div>
		<% end %>
	</div>

	<%= jb.button :submit, class: 'btn btn-success'%>
	<%= link_to "Regresar", jobs_path, class: 'btn btn-info' %>
<% end %>
