<h2>Trabajos disponibles</h2>
<div class="container footer_margin">
	<%= render "students_dashboard/partials/dashboard-nav" %>
	<% if @jobs.empty? %>
		<div class="alert alert-warning">
			<p class="bold center">No hay ningúna vacante registrada en este momento, vuelva más tarde.</p>
		</div>
	<% else %>
	<table class="table">
		<thead>
			<tr scope="col">
				<th>Empresa</th>
				<th>Vacante</th>
				<th>Contrato</th>
				<th>Jornada Laboral</th>
				<th>Experiencia Minima</th>
				<th>Género</th>
				<th>Salario</th>
				<th>Edad minima</th>
				<th>Escolaridad minima</th>
				<th>Areas </th>
				<th>Acciones</th>
				<th>Filtrar
					<select id="filter"> 
						<option value="cualquiera">Cualquiera</option>
						<% job = JobType.all %>
						<% job.each do |jf| %>
							<option value="<%= jf.area %>"><%= jf.area %></option>
						<% end %>
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
			<% @jobs.each do |jb| %>
				<% jb.job_types.each do |a| %>
					<% @area = a.area.split(" ").join %>
					<% @htmlClass = @htmlClass + " " + @area %>
				<% end %>
				<tr class="<%= @htmlClass %>">
					<td scope="row" align="center">
						<%= jb.company.company_name %>
						<br />
						<small><b>(<%= jb.company.user.address.city %>, <%= jb.company.user.address.state %>)</b></small>
					</td>
					<td scope="row"><%= jb.name %></td>
					<td scope="row"><%= jb.contract_type %></td>
					<td scope="row"><%= jb.workday_type %></td>
					<td scope="row"><%= jb.work_experience %></td>
					<td scope="row"><%= jb.gender %></td>
					<td scope="row"><%= jb.salary %></td>
					<td scope="row"><%= jb.age_requierement %></td>
					<td scope="row"><%= jb.schooling_level %></td>
					<td scope="row">
						<% jb.job_types.each do |a| %>
							<%= a.area %>
						<% end %>
					</td>
					<td scope="row">
					<% job_application_query = JobApplication.where(student_id: current_user.roleable.id, job_id: jb.id) %>
					<% if job_application_query.empty? %>
						<%= link_to "Aplicar al puesto", student_applied_job_application_path(jb), { method: :post }%>
					<% else %>
						<% # Model.where returns an array so we get the array and then the first position of the array %>
						<% # Since this query will always return an array with only 1 position, kind of a hack. may fix later %>
						<% ja = job_application_query[0] %>
						<%= link_to "Desaplicar del puesto", student_unapplied_job_application_path(ja), { method: :post } %>
					<% end %>
				</td>
				<td scope="row"></td>
			</tr>
			<% @htmlClass = "myTr" %>
		<% end %>
	</tbody>
</table>
<% end %>
</div>
