<h2>Trabajos disponibles</h2>
<div class="container footer_margin">
	<%= render "students_dashboard/partials/dashboard-nav" %>
	<% if @jobs.empty? %>
		<div class="alert alert-warning">
			<p class="bold center">No hay ningúna vacante registrada en este momento, vuelva más tarde.</p>
		</div>
	<% else %>
	<table class="table">
		<thead>
			<tr scope="col">
				<th>Nombre de la empresa</th>
				<th>Nombre de la vacante</th>
				<th>Salario</th>
				<th>Edad minima</th>
				<th>Turno</th>
				<th>Escolaridad minima</th>
				<th>Acciones</th>
				<th>Filtrar
					<select id="filter"> 
						<option value="cualquiera">Cualquiera</option>
						<% job = JobType.all %>
						<% job.each do |jf| %>
							<option value="<%= jf.area %>"><%= jf.area %></option>
						<% end %>
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
			<% @jobs.each do |jb| %>
				<% jb.job_types.each do |a| %>
					<% @area = a.area.split(" ").join %>
					<% @htmlClass = @htmlClass + " " + @area %>
				<% end %>
				<tr class="<%= @htmlClass %>">
					<td scope="row"><%= jb.company.company_name %></td>
					<td scope="row"><%= jb.name %></td>
					<td scope="row"><%= jb.salary %></td>
					<td scope="row"><%= jb.age_requierement %></td>
					<td scope="row"><%= jb.workday_type %></td>
					<td scope="row"><%= jb.schooling_level %></td>
					<td scope="row">
					<% 
						# if the job doesn't have any applications then a student can apply for the job
						# if the job has applications then we check if the current user logged in applied for it
						# if they did then we show them the option to unapply
						# if they didnt then they can apply for it
					%>
					<% if jb.job_applications.empty? %>
						<%= link_to "Aplicar al puesto", student_applied_job_application_path(jb), { method: :post }%>
					<% else %>
						<% jb.job_applications.each do |ja| %>
							<% if ja.student_id == current_user.roleable.id and ja.job_id == jb.id %>
								<%= link_to "Desaplicar del puesto", student_unapplied_job_application_path(ja), { method: :post } %>
							<% else %>
								<%= link_to "Aplicar al puesto", student_applied_job_application_path(jb), { method: :post }%>
							<% end %>
						<% end %>
					<% end %>
					<%
						# needs to fix a bug where if two or more student applied to the same job then it shows
						# Apply and unapply as many times as different students applied for them because the same
						# job has several applications.
					%>

				</td>
				<td scope="row"></td>
			</tr>
			<% @htmlClass = "myTr" %>
		<% end %>
	</tbody>
</table>
<% end %>
</div>
