<h2>Mis carreras</h2>
<div class="container">

	<%= render "students_dashboard/partials/dashboard-nav" %>
	<% if @educations.empty? %>
		<div class="alert alert-warning">
			<p><%= t('educations.index.empty_title') %></p>
			<p><%= link_to t('educations.index.empty_body'), new_education_path, class: 'btn btn-success'%></p>
		</div>
	<% else %>
		<table class="table">
			<thead>
				<tr scope="col">
					<th><%= t('educations.index.university') %></th>
					<th><%= t('educations.index.educative_level') %></th>
					<th><%= t('educations.index.major') %></th>
					<th><%= t('educations.index.admission_date') %></th>
					<th><%= t('educations.index.graduation_date') %></th>
					<th>¿Cuenta con cédula estatal y federal?</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% @educations.each do |edu| %>
					<tr>
						<td scope="row"><%= edu.university %></td>
						<td scope="row"><%= edu.education_level %></td>
						<td scope="row"><%= edu.major %></td>
						<td scope="row"><%= edu.admission_date %></td>
						<td scope="row"><%= edu.graduation_date %></td>
						<td scope="row"><%= edu.professional_license_type %></td>
						<td scope="row">
							<%= link_to "Editar", edit_education_path(edu), class: 'btn btn-primary' %>
							<%= link_to "Borrar", education_path(edu), method: :delete, class: 'btn btn-danger' , data: { confirm: "En verdad quiere borrar la entrada?" } %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "Agregar carrera", new_education_path, class: 'btn btn-success'%>
	<% end %>

	<%= link_to t('educations.index.go_back'), :back, class: 'btn btn-info' %>
</div>
