<h2>Estudios actuales.</h2>
<% if @degrees.empty? %>
	<p>Aún no tienes ninguna entrada de estudios.</p>
	<%= link_to "Agregar una", new_education_path, class: 'btn btn-success' %>
<% else %>
	<table class="table">
		<thead>	
			<tr>
				<td>#</td>
				<td>Carrera</td>
				<td>Acciones</td>
			</tr>
		</thead>
		<% @degrees.each do |d| %>
			<tbody>
			<tr>
				<td><%= d.id %></td>
				<td><%= d.major %></td>
				<td><%= link_to "Editar datos", edit_education_path(d), class: 'btn btn-success' %></td>
				<td><%= link_to "Ver todos los datos", education_path(d), class: 'btn btn-success' %></td>
				<td><%= link_to "Eliminar entrada", education_path(d), method: :delete, class: 'btn btn-danger', data: { confirm: "¿En verdad desea eliminar ésta entrada?" }%></td>
			</tr>
			</tbody>
		<% end %>
	</table>
	<%= link_to "Regresar a mi perfil", root_path, class: 'btn btn-info' %>
<% end %>
