<!DOCTYPE html>
<html>
	<head>
		<title>Bolsa De Trabajo CUSur</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', media: 'all', 'data-turbolinks-track' => true %>
		<%= favicon_link_tag 'favicon.png' %>
	</head>

	<body>
		<% if user_signed_in? %>
			<% if current_user.roleable_type == "Student" %>
				<%= render "layouts/partials/auth_st_nav" %>
			<% elsif current_user.roleable_type == "Company" %>
				<%= render "layouts/partials/auth_c_nav" %>
			<% else %>
				<%= render "layouts/partials/auth_ad_nav" %>
			<% end %>
		<% else %>
			<%= render "layouts/partials/unauth_nav" %>
		<% end %>
		<div class="content">

			<div class="container center flashes">
				<% if flash[:notice] %>
					<div class="alert alert-info"><%= notice %></div>
				<% end %>
				<% if flash[:alert] %>
					<div class="alert alert-warning center"><%= alert %></div>
				<% end %>
			</div>


			<%= yield %>
		</div>
		<footer class="footer">
			<div class="container">
				<p class="left">
				<%= image_tag "udg-logo.png", class: 'udg-logo'%>

				CENTRO UNIVERSITARIO DEL SUR <br />
				Av. Enrique Arreola Silva No. 833. Colonia Centro <br />
				C.P. 49000, Ciudad Guzmán, Jalisco, México.<br />
				Teléfono: +52 (341) 575 2222, Fax: 01 (341) 5752223. <br />
				</p>
				<br />
			</div>
			<br />
			<div class="container">
				<p class="center">
				Derechos reservados ©1997 - 2018. Universidad de Guadalajara. Sitio desarrollado por <%= link_to 'CUSur', "http://www.cusur.udg.mx/es/" %> | <%= link_to "Política de privacidad y manejo de datos", "http://www.udg.mx/info/politica-de-privacidad-y-manejo-de-datos" %>
			</p>
		</div>
	</footer>
</body>
</html>
